on early-init
    insmod /boot/dwc3.ko
    insmod /boot/dwc_otg.ko

on early-boot
service systemcontrol /sbin/systemcontrol_static /etc/mesondisplay.cfg
    oneshot

on boot
service remotecontrol /sbin/remotecfg /etc/remote.conf
    oneshot

service console /sbin/sh
    console

