on early-init
    insmod /boot/dwc3.ko
    insmod /boot/dwc_otg.ko

on boot
service console /sbin/sh
    console

service remotecfg1 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab1 -d
    oneshot

service remotecfg2 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab2 -d
    oneshot

service remotecfg3 /sbin/remotecfg -c /etc/remote.cfg -t /etc/remote.tab3 -d
    oneshot

